<%- include('../commons/sidebar.ejs') %>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Users</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Users list</li>
              </ol>
            </div>
          </div>
          
        </div><!-- /.container-fluid -->
      </section>


         <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              
             <div class="card">
              <div class="card-header">
                <h3 class="card-title"><%= title%></h3>
                <div id="download-data"></div>
                
              </div>
              <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6 float-sm-right" style="padding-left: 389px;padding-top: 10px;">
                  <a href="/users/registers"  class="btn btn-lg btn-outline-success ">add User</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sr no.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile no.</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if(userData){
                      i = 1;
                      userData.forEach(function(user) {
                    %>
                  <tr>
                    <td><%= i %></td>
                    <td><%= user.name%></td>
                    <td><%= user.email%></td>
                    <td><%= user.mobile_no%></td>
                    <td>
                      <% if(user.status == 0){ %>
                        <span class="right badge badge-danger">Inactive</span>
                      <% }else{%>
                        <span class="right badge badge-success">Active</span>
                      <%}%>
                    </td>
                    <td><button>edit</button></td>
                  </tr>
                  <% i++;}); }%>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile no.</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
<%- include('../commons/footer.ejs') %>